@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

body {
  background-color: blanchedalmond;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  color: #FF0080;
  font-size: 40px;
  text-align: center;
  padding: 10px 0px 30px 10px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  position: fixed;
  z-index: 99 !important;
  background-color: #FFF4E4;
  overflow-x: hidden;
  transition: 2s;
  opacity: 0.5;
  padding: 5px;
  box-sizing: border-box;
}

nav .menu,
.menu1 {
  text-align: right;
}

nav.open {
  left: 0;
  cursor: pointer;
  font-size: 40px;
  opacity: 1;
}

nav a,
.menu,
.menu1 {
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: 25px;
  color: #0073e6;
  display: block;
  transition: 2s;
}

.menu {
  top: 0;
}

a {
  transition: 2s ease;
  padding: 2px;
}

main {
  padding: 25px;
}

footer {
  font-size: x-small;
  color: black;
  padding-left: 5px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: flex-end;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  padding: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

h2 {
  color: #FF0080;
  padding: 10px;
}

.flip-card-back {
  background-color: #FFF4E4;
  color: black;
  transform: rotateY(180deg);
  display: block;
}

.img1 {
  height: 300px;
  width: 300px;
}

.flip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
}

.blog,
.ingredients {
  border: 5px solid #FF0080;
  margin: 30px;
  margin-top: 50px;
  width: 100%;
}

ol,
li {
  text-align: left;
}

h3,
article {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

ul {
  padding: 0;
  margin: 10px;
}

li,
div {
  display: flex;
  justify-content: space-between;
}

li button {
  transition: 0.4s;
  background: none;
  border: none;
}

li button:hover {
  opacity: 1;
}

button,
input {
  font-size: inherit;
}

input {
  padding-left: 1em;
  flex: 1;
  min-width: 5em;
}

#clearBtn {
  width: 25%;
  display: flex;
  margin: 10px;
}


/* recipes.html styles */

.cake-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

article.cake {
  display: flex;
  flex-direction: column;
  border: 5px solid #FF0080;
  padding: 10px;
  width: 50%;
  margin-bottom: 35px;
}

article#cake {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  margin-bottom: 35px;
}

img {
  width: 150px;
  height: 175px;
}

/* Popup Box */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-window {
  position: relative;
  background-color: #FFFFFF;
  width: 50%;
  margin: 10% auto;
  padding: 20px;
  display: block;
}

.modal-window.small {
  width: 30%;
}

.modal-window.large {
  width: 75%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000000;
  cursor: pointer;
}

.open {
  display: block;
}

.btn {
  border: none;
  line-height: 2.5;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

p {
  text-align: center;
  margin-top: 0;
}

/* edamam styles */

.recipe-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  word-break: break-word;
  padding: 0;
  margin: 0;
}

article.recipe {
  transition: 0.5s;
  animation: fadeIn 2s;
  border: 5px solid #FF0080;
  padding: 10px;
  margin-bottom: 35px;
  width: 75%;
}

article img {
  transition: 0.5s;
  display: block;
  margin: auto;
}

h4 {
  text-align: center;
  margin: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

article div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: inherit;
}

article span {
  margin: 5px;
  background-color: black;
  color: white;
  padding: 7px;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  border-radius: 16px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* About styles */

.container,
.about-container {
  padding: 0px 50px;
}

section {
  display: block;
}

#cakie {
  width: 400px;
  height: 300px;
  margin: auto;
}

.cakie {
  border-radius: 20px 20px 0px 0px;
  margin: auto;
  background-image:
    linear-gradient(transparent 40%, #E6C197 40%),
    linear-gradient(transparent 35%, #542F04 35%);
  background-size: 45px 45px;
  background-color: #FFEDD9;
  border: 10px solid #542F04;
  box-shadow: 0 2px 10px black;
  animation: fadeIn 2s;
}

.cakie:before {
  content: '';
  position: absolute;
  width: inherit;
  height: 25px;
  border-radius: 8px 8px 0 0;
  background-size: 50px 60px;
  background-image:
    radial-gradient(circle at 25px 15px, #542F04 30px, transparent 0px),
    radial-gradient(circle at 25px 20px, rgba(0, 0, 0, 0.3) 15px, transparent 0px);
  background-repeat: repeat;
  animation: fadeIn 2s;
}

.cakie:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  background-color: #542F04;
  margin-left: 10px;
}

#cakie--bottom {
  height: 75px;
  width: 200px;
}

#cakie--middle {
  width: 150px;
  height: 50px;
  border-bottom: none;
}

#cakie--top {
  width: 75px;
  height: 37.5px;
  border-bottom: none;
}

.numbers {
  margin: -20px;
  text-align: center;
}

.candle {
  font-size: 3.5em;
  font-family: 'Paytone One', sans-serif;
  color: #FF0080;
}

/* Tablet nav bar */

@media only screen and (min-width: 600px) {
  nav {
    width: 30%;
  }

  article.cake,
  article.recipe {
    width: 35%;
  }
}

@media only screen and (max-width: 999px) {
  .navigation-bar {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    margin: 1em auto;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: left;
  }

  .logo {
    height: 5%;
    width: 5%;
  }

  nav {
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: static;
    width: 100%;
    opacity: 0.75;
  }

  .menu1,
  .menu {
    display: none;
  }

  article.cake,
  article.recipe {
    width: 25%;
  }

  .btn:hover {
    background-color: lightpink;
  }

  .btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
      inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .blog-container {
    display: inline-flex;
    flex-wrap: nowrap;
  }

  .blog {
    width: 70%;
  }

  .ingredients {
    width: 30%;
  }
}
