body {
  background-color: #FF7E41;
  font-family: sans-serif;
  margin: 0;
}

img {
  height: 15%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: blanchedalmond;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0; /* Stay at the top */
  left: -100%;
  position: fixed;
  z-index: 1; /* Stay on top */
  background-color: #FF9765;
  overflow-x: hidden;
  transition: 2s;
  opacity: 0.5;
  padding: 2px;
}

nav .menu, .menu1 {
  text-align: right;
}

nav.open{
  left: 0;
  cursor: pointer;
  font-size: 40px;
  align-content: right;
  opacity: 1;
}

nav a, .menu, .menu1 {
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 2s;
}

.menu {
  top: 0;
}

a {
  transition: 2s ease ;
  padding: 2px;
}

main {
  width: 85%
  padding: 0px 30px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

h1.highlighted {
  color: red;
}

/* recipes.html styles */
h3, h4 {
  text-align: center;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 35px;
  padding: 20px;
}

.cakie {
  width: 150px;
  height: 175px;
}

.cakebox {
  border: 1px solid black;
  text-align: center;
}

.button {
  background-color: blanchedalmond;
  border: none;
  color: black;
  padding: 10px;
  text-align: right;
  cursor: pointer;
}

/* qna.html styles */

ul {
  padding: 1em 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
}

li:hover {
  background-color: #696969;
}

main {
  text-align: center;
}

/* Tablet nav bar */
@media only screen and (min-width: 600px) {

  nav {
    width: 30%;
  }
}

@media only screen and (min-width: 1000px) {
    body {
    margin: 1em auto;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5%;
    width: 100%;
  }

  a:hover {
    background-color: blanchedalmond;
  }

  .menu1 {
    display: none;
  }
}
